{% extends 'production/base.html' %}
{% load widget_tweaks %}
{% block title %}{% if object %}Edit{% else %}Create{% endif %} Bit Design{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><h5>{% if object %}Edit{% else %}Create{% endif %} Bit Design</h5></div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'production:bitdesign-list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
